body {

	background: linear-gradient(to right, rgb(58, 16, 120), violet);
}

.container {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	max-height: 100vw;
}

.todo-content, .finished-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ongoing-content div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ongoing-content {
	margin: 1em 0 0;
	color: white;
	background-color: rgb(47, 88, 205, 0.4);
}

.todo, .ongoing, .finished {
	width: 30%;
}
